<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>竞赛管理系统后台</title>
    <link rel="stylesheet" href="/css/layui.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">竞赛管理系统后台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    admin
                </a>
            </li>
            <li class="layui-nav-item"><a href="/">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">竞赛管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/createContest">竞赛创建</a></dd>
                        <dd><a href="/admin/contestList">竞赛列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/teacherList">教师用户</a></dd>
                        <dd><a href="/admin/studentList">学生用户</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="padding: 15px;">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;"><font size="4"><b>竞赛管理-所有竞赛</b></font></div>
        <div>
            <form action="#" th:action="@{/admin/searchContest}" method="post">
                <span>
                    <select name="type">
                        <option value="0" selected="selected">比赛名称</option>
                        <option value="1">组织方</option>
                    </select>
                    &nbsp;&nbsp;
                    <input type="text" name="keyword"  placeholder="请输入查找内容" class="input-medium">
                    &nbsp;&nbsp;
                    <button class="layui-btn" type="submit" >搜索</button>
                </span>
            </form>
            <div></div>
            <div>
                比赛状态：&nbsp;&nbsp;
                <form action="/admin/listContestByTime" method="#" id="byTime">
                    <button class="layui-btn layui-btn-sm" type="button" onclick="doSubmitForm(this)" value="3">全部</button>
                    <button class="layui-btn layui-btn-sm" type="button" onclick="doSubmitForm(this)" value="0">未开始</button>
                    <button class="layui-btn layui-btn-sm" type="button" onclick="doSubmitForm(this)" value="1">进行中</button>
                    <button class="layui-btn layui-btn-sm" type="button" onclick="doSubmitForm(this)" value="2">已结束</button>
                    <input type="hidden" name="status" value="">
                </form>
            </div>
        </div>
        <div  class="table-responsive">
            <table class="btn table" table-layout="fixed" width="100%" align="center">
                <tr>
                    <th width = "250" style='text-align: center;'>序号</th>
                    <th width = "250" style='text-align: center;'>比赛名称</th>
                    <th width = "250" style='text-align: center;'>组织方</th>
                    <th width = "250" style='text-align: center;'>报名截至时间</th>
                    <th width = "250" style='text-align: center;'>比赛时间</th>
                    <th width = "250" style='text-align: center;'>信息更改</th>
                    <th width = "250" style='text-align: center;'>比赛成绩</th>
                    <th width = "250" style='text-align: center;'>导出名单</th>
                </tr>
                <tr th:each="contest,stat : ${contests}">
                    <td width = "250"><span th:text="${contest.id}">序号</span></td>
                    <td width = "250"><span th:text="${contest.name}">比赛名称</span></td>
                    <td width = "250"><span th:text="${contest.sponsor}">组织方</span></td>
                    <td width = "250"><span th:text="${#dates.format((contest.registerEndTime),'yyyy-MM-dd')}">报名截至时间</span></td>
                    <td width = "250"><span th:text="${#dates.format((contest.contestStartTime),'yyyy-MM-dd')}">比赛时间</span></td>
                    <td width = "250">
                        <form action="/admin/toUpdate" method="get">
                            <button type="submit" class="layui-btn layui-btn-sm">更新</button>
                            <input type="hidden" name="id" th:value="${contest.id}">
                        </form>
                    </td>
                    <td width = "250">
                        <form action="/admin/toScoreList" method="get">
                            <button type="submit" class="layui-btn layui-btn-sm">查看</button>
                            <input type="hidden" name="id" th:value="${contest.id}">
                        </form>
                    </td>
                    <td width = "250">
                        <form action="/admin/exportContests" method="get">
                            <button type="submit" class="layui-btn layui-btn-sm">导出</button>
                            <input type="hidden" name="id" th:value="${contest.id}">
                            <input type="hidden" name="name" th:value="${contest.name}">
                        </form>
                    </td>
                </tr>
            </table>


            <div style="text-align: center;">
                <div class="layui-inline">
                    <ul class="pagination pagination-sm">
                        <!-- 首页 -->
                        <li>
                            <a th:href="'/admin/contestList?PageNo=1'">首页</a>
                        </li>
                        <!-- 上一页 -->
                        <li th:if="${contests.hasPrevious()}">
                            <a th:href="'/admin/contestList?pageNum=' + ${contests.previousPageable().getPageNumber()+1}">&laquo;</a>
                        </li>

                        <!-- 中间页 -->
                        <li th:each="count:${#numbers.sequence(1,totalPage)}" th:value="${count}"><a th:href="@{'/admin/contestList?PageNo='+${count}}" th:text="${count}"></a></li>

                        <!-- 下一页 -->
                        <li th:if="${contests.hasNext()}">
                            <a th:href="'/admin/contestList?PageNo=' + ${contests.nextPageable().getPageNumber()+1}">&raquo;</a>
                        </li>

                        <!-- 尾页 -->
                        <li>
                            <a th:href="'/admin/contestList?PageNo=' + ${contests.getTotalPages()}">尾页</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</div>
</div>>
<div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
</div>
</div>
<script src="/js/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });

    function doSubmitForm(e){
        var form = document.getElementById('byTime');
        $("input[name='status']").attr('value',$(e).attr("value"));
        form.submit();
    }

</script>

</body>
</html>
