<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>竞赛管理系统后台</title>
    <link rel="stylesheet" href="/css/layui.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">竞赛管理系统后台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    admin
                </a>
            </li>
            <li class="layui-nav-item"><a href="/">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">竞赛管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/createContest">竞赛创建</a></dd>
                        <dd><a href="/admin/contestList">竞赛列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/teacherList">教师用户</a></dd>
                        <dd><a href="/admin/studentList">学生用户</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="padding: 15px;">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">竞赛管理-学生管理</div>
        <div>
            <form class="layui-form" action="#" th:action="@{/admin/updateStudent}" th:object="${stu}" method="post">
                <table class="btn table">
                    <tr>
                        <th>学号</th>
                        <td><span th:text="${stu.id}">学号</span></td>
                    </tr>
                    <tr>
                        <th>姓名</th>
                        <td><span th:text="${stu.trueName}">姓名</span></td>
                    </tr>
                    <tr>
                        <th>性别</th>
                        <td><span th:text="${stu.gender}">性别</span></td>
                    </tr>
                    <tr>
                        <th>联系方式</th>
                        <td><span th:text="${stu.phone}">联系方式</span></td>
                    </tr>
                    <tr>
                        <th>学院</th>
                        <td><input type="text" lay-verify="title" th:field="*{department}" th:value="${stu.department}" class="info" disabled="true"></td>
                    </tr>
                    <tr>
                        <th>专业</th>
                        <td><input type="text" lay-verify="title" th:field="*{major}" th:value="${stu.major}" class="info" disabled="true"></td>
                    </tr>
                    <tr>
                        <th>班级</th>
                        <td><input type="text" lay-verify="title" th:field="*{clazz}" th:value="${stu.clazz}" class="info" disabled="true"></td>
                    </tr>
                    <tr>
                        <th class="passwd" disabled="true">输入密码</th>
                        <td><input class="passwd" type="password" lay-verify="title" th:field="*{password}" th:value="${stu.password}"></td>
                    </tr>
                    <tr>
                        <th class="passwd" disabled="true">确认密码</th>
                        <td><input class="passwd" type="password" lay-verify="title" th:field="*{confirmPassword}" th:value="${stu.confirmPassword}"></td>
                    </tr>
                </table>

                <div>
                    <button class="layui-btn" id="updateInfo" type="button">修改信息</button>
                    <button class="layui-btn" id="updatePasswd" type="button">修改密码</button>
                    <button class="layui-btn" type="submit" id="save">保存</button>
                    <button class="layui-btn layui-btn-primary layui-border-black" id="cancel" type="reset">取消</button>
                </div>
                <input type="hidden" name="id" th:value="${id}">
            </form>
        </div>
    </div>
</div>
</body>

</div>
</div>>
<div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
</div>
</div>
<script src="/js/layui.js"></script>
<script src="/js/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });

    $(function () {
        $('#cancel').hide();
        $('#save').hide();
        $('.passwd').hide();
        $('#updateInfo').bind('click',function(event){
            $('#cancel').show();
            $('#save').show();
            $('#updateInfo').hide();
            $('#updatePasswd').hide();
            $("input[class='info']").attr('disabled',false);
        });
        $('#updatePasswd').bind('click',function(event){
            $('#cancel').show();
            $('#save').show();
            $('.passwd').show();
            $('#updateInfo').hide();
            $('#updatePasswd').hide();
        });
        $('#cancel').bind('click',function(event){
            $('#cancel').hide();
            $('#save').hide();
            $('#updateInfo').show();
            $('#updatePasswd').show();
            $('.passwd').hide();
            $("input[class='info']").attr('disabled',true);
        });
    })
</script>
</body>
</html>
